#pagina-form > ul {
  display: inline-block;
  text-align: left;
}

#pagina-form > ul > li > a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

#utenti {
  list-style-type: "\01F464";
}

#accrediti {
  list-style-type: "\1F4B2";
}

#faq {
  list-style-type: "\2753";
}

#offerte {
  list-style-type: "\01F4B2";
}
