#contenuto > ul{
    text-align: left;
    margin-bottom: 32px;
}

#contenuto > ul > li{
    list-style-type: "\1F6D2";
}

#contenuto > p {
    font-weight: bold;
    word-spacing: 1em;
    float: left;
}

#termina-acquisto {
    margin-left: -90px;
}

#credito-insufficiente > p {
    font-weight: bold;
}

#credito-insufficiente > p > a {
    margin-left: -20px;
}

#button-acquista {
    margin-left: -94.8px;
}
