#catalogo {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 2em;
}

#catalogo > div > a {
  text-decoration: none;
}

.card-prodotto {
  position: relative;
}

.card-prodotto > a > img {
  border-color: #e04336;
  border-radius: 10px;
  border-style: ridge;
  border-width: 1.5px;
}

.card-prodotto > a > div.overlay {
  display: none;
}

.out-of-stock > a > img {
  filter: grayscale();
}

.out-of-stock > a > div.overlay {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.5rem;
  margin: 4px;
  background: #f4208f;
}
