#catalogo {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 2em;
}

#catalogo > div > a {
  text-decoration: none;
}

#img-prodotto {
  border-color: #e04336;
  border-radius: 10px;
  border-style: ridge;
  border-width: 1.5px;
}

#btn-oscurato {
  background: none;
  border: none;
  cursor: pointer;
}
