#contenuto > h3 {
    text-align: left;
}

#contenuto > ul {
    line-height: 1.5em;
}

div > form > label, div > form > input {
    float: left;
}

div > form > input {
    width: 20%;
}

div > form > button {
    margin-top: 64px;
    margin-left: -564.67px;
}