#contenuto {
    display: flex;
    column-gap: 64px;
    flex-direction: row;
    justify-content: center;
}

#descrizione > p {
    padding: 0.3em 0 0.3em 0;
}

#img-prodotto {
  border-color: #e04336;
  border-radius: 10px;
  border-style: ridge;
  border-width: 1.5px;
}
