.button-modifica-indirizzo {
  border: none;
  background: transparent;
  font-size: 1.2em;
  cursor: pointer;
}

#card-esterna-profilo {
  margin: 4em auto 4em auto;
  width: 40%;
  border: 2px solid rgb(255, 0, 0);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: rgba(202, 255, 211, 0.89);
  text-align: justify;
  line-height: 2em;
}

#card-esterna-profilo > h2 {
  text-align: center;
}

#card-esterna-profilo > label {
  padding-left: 2em;
}