#tbl-ordini {
  border-spacing: 8px;
  border-collapse: collapse;
}

#tbl-ordini > thead{
  background-color: rgb(170, 162, 162);
}

#tbl-ordini th, #tbl-ordini td {
  padding: 10px;
  border-bottom: 1px solid rgb(170, 162, 162);
}
